@model IEnumerable<MovieFlow.Models.TVSeriesCatalog>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ViewReviewList.css" />
    <link href="~/App_Themes/SmokeAndGlass/SmokeAndGlass.css" rel="stylesheet" type="text/css" runat="server" />
</head>
<body>
    <div class="row">
        <div class="column-left-right"></div>
        <div class="column-middle">
            <h1>@ViewBag.Title</h1>
            <p>@ViewBag.Description</p>
            <h5>We have a number of @ViewBag.TotalTvSeries TvSeries for you.</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TvSerieName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TvSerieDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TvSerieBuget)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TvSerieBeginYear)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TvSerieEpisodsNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TvSerieSeasons)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewData["tvSeriesCatalog"] as IList<TVSeriesCatalog>)
                    {
                        <tr>
                            <td>
                                <b>@item.TvSerieName</b>
                                @if (item.TvSerieName == "Gossip Girl")
                                {
                                    <a href="https://youtu.be/eCg1RN-dyQk">
                                        <img src="~/TvSeriesImages/gossip_girl_image.jpg" width=300 height=200 />
                                    </a>
                                    <table class="AddTomMyListAndReviews" style="width:40%">
                                        <tr>
                                            <th>
                                                <a asp-action="MyList" asp-controller="home" class="button button1">Add to my List</a>
                                            </th>
                                            <th>
                                                <a asp-action="ReviewList" asp-controller="Review" class="button button1">Reviews</a>
                                            </th>
                                        </tr>
                                    </table>
                                }
                                @if (item.TvSerieName == "The Vampires Diaries")
                                {
                                    <a href="https://youtu.be/BmVmhjjkN4E">
                                        <img src="~/TvSeriesImages/jurnalele_vampirilor_images.jpg" style="width:100%" height=200 />
                                    </a>
                                    <table class="AddTomMyListAndReviews" style="width:40%">
                                        <tr>
                                            <th>
                                                <a asp-action="MyList" asp-controller="home" class="button button1">Add to my List</a>
                                            </th>
                                            <th>
                                                <a asp-action="ReviewList" asp-controller="Review" class="button button1">Reviews</a>
                                            </th>
                                        </tr>
                                    </table>
                                }
                                @if (item.TvSerieName == "Pretty Little Liars")
                                {
                                    <a href="https://youtu.be/SUO8B47XtGY">
                                        <img src="~/TvSeriesImages/pretty_little_liars_image.jpg" width=300 height=200 />
                                    </a>
                                    <table class="AddTomMyListAndReviews" style="width:40%">
                                        <tr>
                                            <th>
                                                <a asp-action="MyList" asp-controller="home" class="button button1">Add to my List</a>
                                            </th>
                                            <th>
                                                <a asp-action="ReviewList" asp-controller="Review" class="button button1">Reviews</a>
                                            </th>
                                        </tr>
                                    </table>
                                }
                                @if (item.TvSerieName == "RiverDale")
                                {
                                    <a href="https://youtu.be/HxtLlByaYTc">
                                        <img src="~/TvSeriesImages/riverdale_image.jpg" width=300 height=200 />
                                    </a>
                                    <table class="AddTomMyListAndReviews" style="width:40%">
                                        <tr>
                                            <th>
                                                <a asp-action="MyList" asp-controller="home" class="button button1">Add to my List</a>
                                            </th>
                                            <th>
                                                <a asp-action="ReviewList" asp-controller="Review" class="button button1">Reviews</a>
                                            </th>
                                        </tr>
                                    </table>
                                }
                                @if (item.TvSerieName == "New Amsterdam")
                                {
                                    <a href="https://youtu.be/ZvMCbzrToAo">
                                        <img src="~/TvSeriesImages/new-amsterdam_image.png" width=300 height=200 />
                                    </a>
                                    <table class="AddTomMyListAndReviews" style="width:40%">
                                        <tr>
                                            <th>
                                                <a asp-action="MyList" asp-controller="home" class="button button1">Add to my List</a>
                                            </th>
                                            <th>
                                                <a asp-action="ReviewList" asp-controller="Review" class="button button1">Reviews</a>
                                            </th>
                                        </tr>
                                    </table>
                                }
                                @if (item.TvSerieName == "Teen Wolf")
                                {
                                    <a href="https://youtu.be/1rCYDbefnmA">
                                        <img src="~/TvSeriesImages/teenolf_image.jpg" width=300 height=200 />
                                    </a>
                                    <table class="AddTomMyListAndReviews" style="width:40%">
                                        <tr>
                                            <th>
                                                <a asp-action="MyList" asp-controller="home" class="button button1">Add to my List</a>
                                            </th>
                                            <th>
                                                <a asp-action="ReviewList" asp-controller="Review" class="button button1">Reviews</a>
                                            </th>
                                        </tr>
                                    </table>
                                }
                                @if (item.TvSerieName == "Sherlock Holmes")
                                {
                                    <a href="https://youtu.be/IrBKwzL3K7s">
                                        <img src="~/TvSeriesImages/sherlock_holmes_image.jpg" width=300 height=200 />
                                    </a>
                                    <table class="AddTomMyListAndReviews" style="width:40%">
                                        <tr>
                                            <th>
                                                <a asp-action="MyList" asp-controller="home" class="button button1">Add to my List</a>
                                            </th>
                                            <th>
                                                <a asp-action="ReviewList" asp-controller="Review" class="button button1">Reviews</a>
                                            </th>
                                        </tr>
                                    </table>
                                }
                                @if (item.TvSerieName == "Supernatural")
                                {
                                    <a href="https://youtu.be/t-775JyzDTk">
                                        <img src="~/TvSeriesImages/supernatural_image.jpg" width=300 height=200 />
                                    </a>
                                    <table class="AddTomMyListAndReviews" style="width:40%">
                                        <tr>
                                            <th>
                                                <a asp-action="MyList" asp-controller="home" class="button button1">Add to my List</a>
                                            </th>
                                            <th>
                                                <a asp-action="ReviewList" asp-controller="Review" class="button button1">Reviews</a>
                                            </th>
                                        </tr>
                                    </table>
                                }
                                @if (item.TvSerieName == "Hannibal")
                                {
                                    <a href="https://youtu.be/Es3B24z8fdA">
                                        <img src="~/TvSeriesImages/hannibal_image.jpg" width=300 height=200 />
                                    </a>
                                    <table class="AddTomMyListAndReviews" style="width:40%">
                                        <tr>
                                            <th>
                                                <a asp-action="MyList" asp-controller="home" class="button button1">Add to my List</a>
                                            </th>
                                            <th>
                                                <a asp-action="ReviewList" asp-controller="Review" class="button button1">Reviews</a>
                                            </th>
                                        </tr>
                                    </table>
                                }
                            </td>
                            <td>
                                @item.TvSerieDescription
                            </td>
                            <td>
                                @item.TvSerieBuget
                            </td>
                            <td>
                                @item.TvSerieBeginYear
                            </td>
                            <td>
                                @item.TvSerieEpisodsNumber
                            </td>
                            <td>
                                @item.TvSerieSeasons
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="column-left-right"></div>
    </div>
</body>
</html>
